<div class="tpl-demo">
    <div class="tpl1" #tpl1>
        这是【ViewChild】的模板
    </div>
    <child-comp #tpl3>
        <div class="child-wrapper" #contents>
            content from app
        </div>
        <sub-comp></sub-comp>
    </child-comp>

    <div class="result-wrap">
        <div class="item">
            tpl1结果：{{result1}}
        </div>
        <div class="item">
            tpl2结果：{{result2}}
        </div>
    </div>

    <ul class="items">
        <li class="item" *ngFor="let item of list;">
            <ng-container [ngSwitch]="item % 2">
                <div *ngSwitchCase="1">{{item}}-奇数</div>
                <div *ngSwitchCase="0">{{item}}-偶数</div>
                <div *ngSwitchDefault>不是数字</div>
            </ng-container>
        </li>
    </ul>
    
</div>